
<h1 class="text-center">Stupid Coatching</h1>
<br><br>

<div class ="p-3 mb-2 bg-light text-dark">
  <h3><%= @question%></h3>
<p class="list-group-item-text"><%= @answer%></p>
</div>
<

<%# <%= link_to ANCHOR_TEXT, ANCHOR_URL %>
<%= link_to "Ask a new Question:", ask_path %>
