<h1 class="text-center">Stupid Coatching</h1>
    <br><br>
<form action="answer">
  <div class="d-flex justify-content-center mb-4">
    <div class="form-outline me-3" style="width: 14rem">
      <label id = "question" class="form-label" for="question">Ask your coach anything:</label>
      <input class="form-control" type="text" name="question" placeholder = "question">
    </div>
    <input type="submit" class="btn btn-primary h-100 align-self-end" value="Ask!">
  </div>
</form>
